#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 46, 46, 0.296);
    z-index: 1;
}

.modal-header-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.modal-header-title h2 {
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
}

#contact_modal input {
    padding-left: 8px;
    font-size: 32px;
}

#contact_modal textarea {
    font-size: 18px;
    height: 150px;
    border-radius: 5px;
    width: 100%;
    padding-left: 8px;
    padding-top: 8px;
    border: none;
    resize: none;
}

.photograph-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 62vw;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 34px;
    padding: 0 42px;
    background-color: #FAFAFA;
  }

.photograph-header img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.photograph-header div:first-child {
    flex-basis: 100%;
    color: #901C1C;
}

.photograph-header div:last-child {
    flex-basis: 100%;
    text-align: end;
}

.photograph-header div:nth-child(2n) {
    text-align: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact_button:hover {
    background-color: #901c1cd6;
}

.modal {
    position: relative;
    top: 50px;
    border-radius: 5px;
    background-color: #DB8876;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    width: 100%;
    height: auto;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.sort-image {
  width: 65vw;
  margin: 0 auto;
}

.sort-image select {
    width: 120px;
    border-bottom: 1px white solid;
    color: white;
    background-color: #901C1C;
}

.sort-image select option {
    border-bottom: 1px white solid;
}

.images-section {
  display: grid;
  width: 70vw;
  margin: 0 auto;
  margin-bottom: 48px;
  margin-top: 75px;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2ch;
  text-align: center;
}

.images-section > article > video {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.images-section > article > img {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.images-section > article > img:hover {
  filter: blur(2px);
}

.images-section > article > video:hover {
  filter: blur(2px);
}

.images-section > article > div {
    display: flex;
    width: 78%;
    justify-content: space-between;
    margin: 0 auto;
  }

.label-sort-select {
    margin-right: 24px;
}

#sort-select{
    padding: 8px;
    border-bottom: solid white 2px;
    border-radius: 8px;
}

#sort-select > option {
    padding: 8px;
    border-bottom: solid white 2px;
    background-color: #901C1C;
}

#like-price-container {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  right: 24px;
  width: 340px;
  height: 45px;
  border-radius: 5px 5px 0 0;
  background-color: #DB8876;
}

#like-price-container span {
  font-size: 24px;
}

#price {
  padding-right: 32px;
}

#like {
  display: flex;
  align-items: center;
  padding-left: 32px;
}

#like > .fas {
  font-size: 18px;
  margin-left: 4px;
}

.like-container {
  display: flex;
  align-items: center;
}

.like-container > i {
  margin-left: 8px;
}

.lightbox-background {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.lightbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lightbox-container > p {
  align-self: flex-start;
  margin-top: 12px;
  margin-left: 64px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #911C1C;
}

.lightbox-container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  height: 850px;
}

.lightbox-container i {
  font-size: 50px;
  color: #911C1C;
  cursor: pointer;
}

.lightbox-container-main > img {
  height: 100%;
  margin: 0 32px;
  object-fit: contain;
  border-radius: 5px;
}

.lightbox-container-main > video {
  height: 100%;
  margin: 0 32px;
  object-fit: contain;
  border-radius: 5px;
}

.lightbox-aside {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lightbox-aside > img {
  position: absolute;
  top: 12px;
  filter: invert(20%) sepia(47%) saturate(4055%) hue-rotate(345deg) brightness(73%) contrast(96%);
  cursor: pointer;
}
